.imageList{
    display: flex;
    position: relative;
    list-style: none;
    overflow-x: hidden;
}

.images{
    margin: 0px;
}

.images > img{
    height: 80vh;
    min-width: 80vh;
    max-width: 80vh;
    aspect-ratio: 1;
    object-fit: cover;  
}