.image{
    object-fit: cover;
    width: 100vw;
    height: 40vh;
    display: inline-block;
    opacity: 0.5;
    z-index: -1;
}

.imageContainer{
    justify-content: center;
    text-align: center; 
    position: relative;
    margin-top: 16px;
}

.buttonSliders{
    position: absolute;
    width: 100%;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}