*{
    margin: 0;
    padding: 0;
}

.bar{
    background-color: hsl(210, 29%, 24%);
    padding: 20px;
}

.title{
    text-align: center;
    color: white;
    display: inline-block;
    flex-shrink: 0;
}

.menuButton{
    float: right;
    margin: 0;
}

